.gallery {
    background-color: #fff;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: [full-start] .86fr [center-start]repeat(3, [col-start] 1fr [col-end])[center-end] .86fr [full-end];
    grid-template-rows: repeat(4, minmax(min-content, 1fr));



    &__container {
        grid-column: center-start / center-end;
        background-color: orangered;
        height: 100%;
    }

    &__images {
        grid-column: 1 / -1;
        grid-row: 2 / span 3;
        background-color: #32353A;
        color: #fff;

    }
}