.header {
    background-color: #32353A;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.01) 0%, rgba(2, 0, 36, 1) 90%), url(/img/bathroom.jpg);
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: repeat;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: .86fr [center-start]repeat(3, [col-start] 1fr [col-end])[center-end] .86fr;


    &__container {
        grid-column: center-start / center-end;
        background-color: rgba(255, 68, 0, 0.219);
        height: 100%;
    }
}